name: CI

on:
  push:
    branches: [ "main", "setup-build-actions" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:       
  build-kglobalaccel:
    runs-on: ubuntu-24.04 
    steps:
      - name: Checkout with submodules
        uses: actions/checkout@v4
        with:
            submodules: recursive
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: |
          git submodule update --remote --recursive
          git submodule status
          
      - name: Enable Ubuntu source repositories
        run: |
          sudo add-apt-repository "deb-src http://archive.ubuntu.com/ubuntu/ noble main"
          sudo add-apt-repository "deb-src http://archive.ubuntu.com/ubuntu/ noble-security main"
          sudo add-apt-repository "deb-src http://archive.ubuntu.com/ubuntu/ noble-updates main"
          sudo apt update
          sudo apt build-dep kglobalaccel

      - name: Install build tools
        run: sudo apt install build-essential cmake 

      - name: Create build directory structure
        run: mkdir -p kglobalaccel/build
            
      - name: configure
        run: sudo apt build-dep kglobalaccel

      - name: Cmake
        working-directory: ./kglobalaccel/build
        run: cmake -G "Unix Makefiles" ..

      - name: Make
        working-directory: ./kglobalaccel/build
        run: make

        
  build-kguiaddons:
    runs-on: ubuntu-24.04 
    steps:
      - name: Checkout with submodules
        uses: actions/checkout@v4
        with:
            submodules: recursive
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: |
          git submodule update --remote --recursive
          git submodule status
          
      - name: Enable Ubuntu source repositories
        run: |
          sudo sed -i 's/# deb-src/deb-src/' /etc/apt/sources.list
          sudo apt update

      - name: Install build tools
        run: sudo apt install build-essential cmake 

      - name: Create build directory structure
        run: mkdir -p kguiaddons/build
            
      - name: configure
        run: sudo apt build-dep kguiaddons

      - name: Cmake
        working-directory: ./kguiaddons/build
        run: cmake -G "Unix Makefiles" ..

      - name: Make
        working-directory: ./kguiaddons/build
        run: make

        
  build-kwindowsystem:
    runs-on: ubuntu-24.04 
    steps:
      - name: Checkout with submodules
        uses: actions/checkout@v4
        with:
            submodules: recursive
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: |
          git submodule update --remote --recursive
          git submodule status
          
      - name: Enable Ubuntu source repositories
        run: |
          sudo sed -i 's/# deb-src/deb-src/' /etc/apt/sources.list
          sudo apt update

      - name: Install build tools
        run: sudo apt install build-essential cmake 

      - name: Create build directory structure
        run: mkdir -p kwindowsystem/build
            
      - name: configure
        run: sudo apt build-dep kwindowsystem

      - name: Cmake
        working-directory: ./kwindowsystem/build
        run: cmake -G "Unix Makefiles" ..

      - name: Make
        working-directory: ./kwindowsystem/build
        run: make
